{% load static %}

    <meta charset="UTF-8">
    <title>Myblog</title>

    <!--    css-->
    <link rel="stylesheet" href="{% static 'vendor/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/css/myblog1.css' %}">


    <!--    icon fontavesome.io -->
    <link rel="stylesheet" href="{% static 'css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <!--    js-->
    <script src="{% static 'vendor/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper.min.js' %}"></script>
    <script src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'vendor/js/myblog.js' %}"></script>
    <!--    web icon -->

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/blog-icon.png' %}" style="width:15px; height:15px;"/>

